<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="Standby list" value="1024" />
    <add key="Free memory" value="1024" />
    <add key="Start minimized" value="False" />
    <add key="Wanted timer" value="1" />
    <add key="Custom timer" value="False" />
    <add key="Polling rateSTR" value="1000" />
    <add key="TaskScheduler" value="False" />
    <add key="ExclusionList" value="" />
  </appSettings>
</configuration>